/* Reset main elements */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block;
}

/* Style the page */

html {
	width: 100%;
	height: 100%;
	background: #050a0e;
}
body {
	width: 100%;
	height: 100%;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#page {
	display: table;
	width: 100%;
	height: 100%;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
}
#top {
	display: table-row;
	width: 100%;
	height: 20%;
}
#run {
	display: table-row;
	width: 100%;
	height: 60%;
	background-image: url(img/earth.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
#try {
	display: table-row;
	width: 100%;
	height: 20%;
}
.content {
	display: table-cell;
	vertical-align: middle;
}
.site-title {
	margin: 0.625em 0 0;
	font-size: 64px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
}
.site-description {
	left: -3px;
	margin: 0;
	font-size: 23px;
	font-weight: 300;
	line-height: 3;
	letter-spacing: 11px;
	text-transform: uppercase;
	color: #fff;
}
.site-description:before {
	content: "\a0";
}
.run-btn {
	padding: 0.5em 1em;
	background: rgba(0,0,0,0.625);
	box-shadow: 0 2px 9px #000;
	border: 2px solid #fff;
	border-radius: 9999em;
	font-size: 24px;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	transition: background 0.375s, color 0.375s;
}
.run-btn:hover {
	background: rgba(255,255,255,0.75);
	box-shadow: 0 2px 9px #000, inset 0 0 0 2px rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.875);
}
.run-btn:active {
	box-shadow: 0 2px 9px #000, inset 0 0 0 2px rgba(0,0,0,0.5), inset 0 0 9px 2px rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.75);
	opacity: 0.875;
}
.try-call {
	margin: 0.75em 0;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	color: #fff;
}
.try-call a {
	display: inline-block;
	position: relative;
	top: -0.75em;
	margin-top: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 2;
	color: #49c0ff;
	transition: all 0.375s;
}
.try-call a:hover {
	top: -1em;
}
.try-call a:after {
	content: " ";
	position: absolute;
	bottom: -0.5em;
	left: 50%;
	width: 0;
	height: 2px;
	background: #49c0ff;
	opacity: 0;
	transition: all 0.375s;
}
.try-call a:hover:after {
	left: 0;
	bottom: 0.25em;
	width: 100%;
	opacity: 1;
}

@media screen and ( max-height: 402px ) {

	html {
		height: auto;
	}
	body,
	#page {
		position: relative;
		overflow-y: scroll;
		height: auto;
		min-height: 402px;
	}

}

@media screen and ( max-width: 501px ) {

	.site-title {
		font-size: 48px;
	}
	.site-description {
		font-size: 14px;
		letter-spacing: 10px;
	}
	.run-btn,
	.try-call {
		font-size: 20px;
	}

}

@media screen and ( max-height: 501px ) {

	.site-title {
		font-size: 48px;
	}
	.site-description {
		font-size: 14px;
		letter-spacing: 10px;
	}
	.run-btn,
	.try-call {
		font-size: 20px;
	}

}

/* Google OAuth modal */

.modal-open {
	overflow: hidden;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	overflow: auto;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	-webkit-transition: -webkit-transform 0.375s ease-out;
	   -moz-transition: -moz-transform 0.375s ease-out;
	     -o-transition: -o-transform 0.375s ease-out;
	        transition: transform 0.375s ease-out;
}
.modal-backdrop {
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	-webkit-transition: opacity 0.375s ease;
	   -moz-transition: opacity 0.375s ease;
	    -ms-transition: opacity 0.375s ease;
	     -o-transition: opacity 0.375s ease;
	        transition: opacity 0.375s ease;
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal-backdrop.in {
	opacity: 0.75;
	filter: alpha(opacity=75);
}
.modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 99999;
	max-width: 432px;
	height: 288px;
	margin: -144px 0 0 -216px;
	overflow: hidden;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	transition: 0.5s all;
}
.modal.in .modal-dialog {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
.modal-content {
	position: relative;
	width: 432px;
	height: 288px;
	margin: auto;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	border-radius: 24px;
}
.modal-body {
	max-height: calc(100vh - 168px);
	padding: 32px;
	overflow-y: auto;
}
.modal-body h3 {
	font-size: 20px;
	line-height: 24px;
	color: #555;
}
.modal-body h3 a {
	text-decoration: none;
	color: #e74c3c;
}
.modal-body h3 a:hover {
	text-decoration: underline;
	color: #000;
}
.modal-body p {
	margin: 3.671875em auto;
	font-size: 18px;
	line-height: 1.5;
	color: #5f5f5f;
}
#signInBtn {
	display: inline-block;
	margin: 32px 0;
	padding: 1em 1.5em;
	background: #f5f6f7;
	box-shadow: 0 1px 2px rgba(0,0,0,0.125);
	border: 1px solid #c5c6c7;
	border-radius: 9999em;
	font-family: "Roboto", "Source Sans Pro", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	color: rgba(0,0,0,0.54);
}
#signInBtn:hover {
	border-color: #a5a6a7;
	cursor: pointer;
}
#signInBtn:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125);
}
#signInBtn .icon {
	display: inline-block;
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background: url(img/ico-google.png) center no-repeat;
}
.close-btn {
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	color: #49c0ff;
}
.close-btn:hover {
	text-decoration: underline;
}

/* Loading */

.loading-overlay {
    z-index:99999;
    position:fixed; top:0; right:0; bottom:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.65);
}
.loading-overlay-transparent {
    z-index:99999;
    position:fixed; top:0; right:0; bottom:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.0);
}
.loading-overlay .loader {
    position:absolute; top:50%; right:0; left:0;
    margin-top:-32px !important;
}
 
.loading-overlay-transparent .loader {
    position:absolute;
    top:40%;
    right:0;
    left:0;
    margin-top:-32px;
}
.loading-overlay-transparent .loading-text {
    position:absolute;
    top:50%;
    right:0;
    left:50%;
    margin-top:52px;
    margin-left: -80px !important;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
 
.loading-overlay .loading-text {
    position:absolute;
    top:50%;
    right:0;
    left:50%;
    margin-top:80px !important;
    margin-left: -90px !important;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.center {
    display: block;
    float: none !important;
    margin: 0 auto !important;
}
.center:before,
.center:after {
    content: "";
    display: table;
}
.center:after {
    clear: both;
}
.spin {
    -webkit-animation: spin 2s infinite linear;
       -moz-animation: spin 2s infinite linear;
         -o-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

